@* TODO-checkpoint-1: Add the @model directive for a list of turtles *@
@* For checkpoint 1, use: @model IEnumerable<Lumivate.TurtleStore.Models.Turtle> *@
@* TODO-checkpoint-2: Refactor the @model directive to use TurtleViewModel instead *@
@* @model Lumivate.TurtleStore.Models.TurtleViewModel *@

@{
    ViewData["Title"] = "Our Turtles";
}

<h1>Our Turtles</h1>
<p>Browse our selection of friendly turtles looking for a new home!</p>

@* TODO-checkpoint-1: Add a table to display the list of turtles *@
@* Even though the code is provided, take some time to understand it! *@
@* Notice every @ symbol... this denotes razor syntax so you can insert C# code directly into your html. *@
@* Loop through the model using a foreach loop in Razor: *@
@*
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Species</th>
                <th>Price</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var turtle in Model)
            {
                <tr>
                    <td>@turtle.Name</td>
                    <td>@turtle.Species</td>
                    <td>$@turtle.Price</td>
                    <td>@(turtle.IsAvailable ? "Yes" : "No")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@turtle.Id" class="btn btn-info btn-sm">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
*@

@* TODO-checkpoint-2: After refactoring to TurtleViewModel, update the foreach to use Model.Turtles *@

@* TODO-checkpoint-6 part D: Add an "Add to Cart" button for each turtle in the table: *@
@*
    <td>
        <form asp-controller="Cart" asp-action="Add" method="post">
            <input type="hidden" name="turtleId" value="@turtle.Id" />
            <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
        </form>
    </td>
*@

@* TODO-checkpoint-3 part D: Add a link to the Create page *@
@* <a asp-action="Create" class="btn btn-primary">Add New Turtle</a> *@

@* TODO-checkpoint-3 parts E and F: Add Edit and Delete links for each turtle in the table *@
@* Add these inside the foreach loop, in a new <td> column: *@
@*
    <td>
        <a asp-action="Edit" asp-route-id="@turtle.Id" class="btn btn-warning btn-sm">Edit</a>
        <a asp-action="Delete" asp-route-id="@turtle.Id" class="btn btn-danger btn-sm">Delete</a>
    </td>
*@
